ion-grid {
  width: 100%;
  background-color: white;
}

ion-input {
  margin-top: 15px;
}

.bloc-terms {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  p {
    width: 90%;
  }
}
