<ion-header>
  <ion-toolbar align="center">
    <img width="225px" src="assets/img/logo.png" />
  </ion-toolbar>
</ion-header>

<ion-grid>
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="7" size-lg="5" size-xs="12">
        <h2 text-center="center" class="text-color-primary">Créer un compte</h2>
        <ion-text color="danger">
          <p text-center>{{ errorMessage }}</p>
        </ion-text>

        <ion-item>
          <ion-label>Je suis</ion-label>
          <ion-select formControlName="profileType" interface="popover">
            <ion-select-option *ngFor="let type of profilesType" value="{{ type }}">{{ type }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-input
          padding
          max="{{ dateMinRequired | date: 'yyyy-MM-dd'}}"
          class="input-field-text"
          type="date"
          formControlName="dateOfBirth"
          placeholder="Date de naissance"
        >
        </ion-input>
        <ion-input
          padding
          class="input-field-text"
          type="string"
          formControlName="userName"
          placeholder="Choisie ton pseudo"
        >
        </ion-input>
        <ion-input padding class="input-field-text" type="email" formControlName="email" placeholder="Adresse email">
        </ion-input>
        <ion-input
          padding
          class="input-field-text"
          type="password"
          formControlName="password"
          placeholder="Mot de passe"
        >
        </ion-input>
        <div class="bloc-terms">
          <ion-checkbox checked="false" formControlName="privacyPolicy"></ion-checkbox>
          <p>
            I have read and agree with the Application! Terms and Conditions. Application! will collect and process data
            as described in the Privacy Policy and Children's Privacy Policy. (required)
          </p>
        </div>
        <ion-button
          [disabled]="signUpForm.invalid"
          class="button-style"
          type="submit"
          shape="round"
          size="default"
          expand="block"
          color="primary-application"
        >
          S'inscrire
        </ion-button>
        <p text-center>
          Vous avez déjà un compte ?
          <a routerLink="/log-in" routerDirection="forward" class="text-color-primary">Connexion</a>
        </p>
      </ion-col>
    </ion-row>
  </form>
</ion-grid>
