<ion-content>
  <ion-row justify-content-center>
    <ion-col align-self-center size-lg="4" size-md="6" size-xs="12">
      <ion-row align-items-center>
        <ion-col>
          <ion-button routerLink="/home/game/create" routerDirection="forward">créer une partie</ion-button>
        </ion-col>
      </ion-row>
      <ion-row align-items-center>
        <ion-col>
          <ion-button routerLink="/room/find" routerDirection="forward">rejoindre une partie</ion-button>
        </ion-col>
      </ion-row>
      <ion-row align-items-center>
        <ion-col>
          <ion-button routerLink="/home/game/question/create" routerDirection="forward">créer une question</ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <app-game-list></app-game-list>
</ion-content>
