<!-- TABS FOR DESKTOP -->
<ion-tabs class="desktop-ion-tabs" *ngIf="!platform.is('mobileweb')">
  <ion-tab-bar slot="top">
    <img width="260px" src="assets/img/logo-white.png" />`

    <ion-tab-button tab="game">
      <ion-icon name="home"></ion-icon>
      <ion-label>jeux</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="user" layout="icon-end">
      <ion-icon name="md-contact"></ion-icon>
      <ion-label>user</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<!-- TABS FOR MOBILE -->
<ion-tabs class="mobile-ion-tabs" *ngIf="platform.is('mobileweb')">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="game">
      <ion-icon name="home"></ion-icon>
      <ion-label>jeux</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="user">
      <ion-icon name="md-contact"></ion-icon>
      <ion-label>user</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
