<app-header-exit [urlRedirection]="'home/game'"></app-header-exit>
<ion-content>
  <ion-row justify-content-center *ngIf="question?.id">
    <ion-col size-md="7" size-xs="11">
      <h1 text-center>{{ question?.question }}</h1>
      <ion-row justify-content-center>
        <app-timer (timerIsFinished)="timerIsFinished($event)" [timeLeft]="timeLeft"></app-timer>
      </ion-row>
      <ion-button
        margin-vertical
        *ngFor="let answer of randomAnswers"
        (click)="answerPlayer(answer)"
        shape="round"
        color="light"
        style="width: 100%"
      >
        {{ answer }}
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
