.question-media-uploader {
  background-color: #f2f2f2;
  border: 0.1875rem dashed #ccc;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.question-media-uploader ion-button,
.bloc-answers ion-button {
  width: 100%;
}
