ion-grid {
  width: 100%;
  background-color: white;
}

ion-button {
  width: 100%;
}

.text-creat-account {
  font-size: 18px;
  font-family: inherit;
  font-weight: 900;
  line-height: 1.1;
  color: inherit;
}

.separator {
  border-top: 1px solid #d9dadc;
  display: block;
  line-height: 1px;
  margin: 15px 0;
  position: relative;
  text-align: center;
}

// Mobile
@media (min-width: 240px) and (max-width: 768px) {
}
